<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Create account</title>
        <%- include ('include/header') %>
    </head>
    <body class="masthead">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <%- include ('include/nav') %>
                    <div class="container p-5">
                        <div class="row justify-content-center">
                            <div class="col-lg-7">
                                <div class="card shadow-lg border-0 rounded-lg mt-5 bg-transparent">
                                    <div class="card-header">
                                        <h3 class="text-center font-weight-light my-4 text-white" >Create Account</h3></div>
                                    <div class="card-body">
                                        <form>
                                            <div class="row mb-3">
                                                <div class="col-md-6 ">
                                                    <div class="form-floating mb-3 mb-md-0 ">
                                                        <input class="form-control bg-transparent text-white" id="inputFullName" type="text" placeholder="Enter your full name" />
                                                        <label for="inputFullName" class="text-white">Full name</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-floating">
                                                        <input class="form-control  bg-transparent text-white" id="inputTel" type="tel" placeholder="Enter your phone number" />
                                                        <label for="inputTel" class="text-white">Phone</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <input class="form-control  bg-transparent text-white" id="inputEmail" type="email" placeholder="name@example.com" />
                                                <label for="inputEmail" class="text-white">Email address</label>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-3 mb-md-0">
                                                        <input class="form-control  bg-transparent text-white" id="inputPassword" type="password" placeholder="Create a password" />
                                                        <label for="inputPassword" class="text-white">Password</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-3 mb-md-0">
                                                        <input class="form-control  bg-transparent text-white" id="inputPasswordConfirm" type="password" placeholder="Confirm password" />
                                                        <label for="inputPasswordConfirm" class="text-white">Confirm Password</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mt-4 mb-0">
                                                <div class="d-grid"><a class="btn btn-primary btn-block">Submit</a></div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="card-footer text-center py-3">
                                        <div class="small"><a href="/auth/login">Have an account? Go to login</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <%- include ('include/footer') %>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="/js/scripts.js"></script>
    </body>
</html>
